body {
    padding: 0;
    margin: 0;
    background-image: url(taustat/taustat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden; /* Hide scrollbars */
   
}
h1{
    color:whitesmoke
}
h4{
    color:whitesmoke;
}
h3{
    color:whitesmoke;
}
p{
    color:whitesmoke;
}
.pelaamaan{
    cursor: pointer;
}
.peli{
    display: none;
}
.tiedot{
    display: block;
}

.vuoro{
    color:white;
}